fail_fast: false
default_language_version:
    python: python3
default_stages:
    - commit
    - push
minimum_pre_commit_version: 2.16.0
repos:
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.18.3
      hooks:
          - id: check-jsonschema
            files: "schema.json"
            args: ["--check-metaschema"]
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.18.3
      hooks:
          - id: check-jsonschema
            files: "packages/.*/meta.yaml"
            args: ["--schemafile", "schema.json"]
    - repo: local
      hooks:
          - id: forbid-to-commit
            name: meta files must have the `yaml` extension
            entry: |
                Only files named `meta.yaml` are permitted in the packages directory
            language: fail
            files: "^packages/.*$"
            exclude: "^packages/.*/meta.yaml$"
