name: Register template repos

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  register-template-repos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"
      - name: Install build dependencies
        run: python -m pip install --upgrade pip wheel
      - name: Install package with scripts
        run: pip install ./scripts
      - name: Update template repo registry
        run: register-template-repos template-repos.yml
        env:
          GITHUB_TOKEN: "${{ secrets.BOT_GH_TOKEN }}"
      - uses: EndBug/add-and-commit@v9
        with:
          add: ./template-repos.yml
          author_name: scverse-bot
          author_email: core-team@scverse.org
          message: "Updated template-repos.yml"
          push: ${{ github.event_name == 'release' }}
      - name: Show diff
        run: git diff HEAD~1
